body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#connmsg {
    text-align: center;
}

#info {
    padding: 10px 20px;
    margin: 20px;
    background-color: white;
    color: black;
    border: 3px double black;
    display: inline-block;
    max-width: 400px;
}

#info #indicator {
    display: block;
    margin: 15px auto 0 auto;
}

#info #indicator img {
    width: 32px;
    height: 32px;
    background: url(../img/load.gif);
}

#chat #header {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 75px;
    /*border: 1px solid white;*/
}

/*#chat #header div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
}*/

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

#chat #header #userData {
    font-size: 0.9em;
}

#chat #center {
    /*border: 1px solid red;*/
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
}

#chat #messageDiv {
    width: auto;
    float: left;
    height: 100%;
}

#chat #messageDiv #chatList {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#chat #messageDiv #chatList .insertImage {
    max-width: 1080px;
    max-height: 180px;
    vertical-align: top;
    overflow: auto;
    margin: 5px;
    border: 0;
}

#chat #messageDiv #chatList iframe {
    vertical-align: top;
    overflow: auto;
}

#chat #messageDiv #chatList .botError,
#chat #messageDiv #chatList .botMessage,
#chat #messageDiv #chatList .botName {
    font-style: italic;
}

#chat #userDiv {
    width: 150px;
    height: 100%;
    float: right;
}

#chat #userDiv #userList {
    width: 100%;
    height: 100%;
    overflow: auto;
}

#chat #userDiv #userList #top {
    width: auto;
    padding: 4px 10px;
    word-wrap: break-word;
}

#chat #userDiv #userList div, #chat #messageDiv #chatList div {
    width: auto;
    padding: 2px 10px;
    word-wrap: break-word;
}

.alert {
    position: absolute;
    top: 15px;
    margin: 0 auto;
    z-index: 999;
    left: 0;
    right: 0;
    width: 25%;
    min-width: 300px;
    max-width: 500px;
    text-align: center;
    color: black;
    background-color: white;
    border: 3px double black;
    padding: 15px;
}

#chat #footer {
    position: absolute;
    bottom: 25px;
    left: 20px;
    height: 125px;
    width: 100%;
}

#chat #footer textarea {
    width: 100%;
    height: 40px;
    margin-top: 3px;
}

#chat #footer #options img {
    margin: 0 0 0 5px;
    padding: 0;
    width: 22px;
    height: 22px;
}

#chat #footer #options img:hover {
    cursor: pointer;
}

#chat #footer #emotes img {
    margin: 0 3px 0 0;
    padding: 0;
}

.chatEmote {
    vertical-align: middle;
}

#chat #footer #emotes img:hover {
    cursor: pointer;
}

.topleft {
    position: absolute;
    top: 0;
    left: 0;
}

.topright {
    position: absolute;
    top: 0;
    right: 0;
}

.botleft {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.botright {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#hidden {
    display: none;
}

/*#chat #footer div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 125px;
}*/

/*#chat #footer div textarea {
    width: 95%;
}*/