/*
	Global Sock Chat CSS
*/

@charset "utf-8";
@import url('_positioning.css');

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#connmsg {
    text-align: center;
}

#info {
    padding: 10px 20px;
    margin: 20px;
    background-color: white;
    color: black;
    border: 3px double black;
    display: inline-block;
    max-width: 400px;
}

#info #indicator {
    display: block;
    margin: 15px auto 0 auto;
}

#info #indicator img {
    width: 32px;
    height: 32px;
    background: url(../img/load.gif);
}

#chat #chatList .insertImage {
    /*max-width: 1080px;
    max-height: 180px;*/
    max-width: 70vw;
    max-height: 90vh;
    vertical-align: top;
    overflow: auto;
    margin: 5px;
    border: 0;
}

#chat #settingsList table, #chat #helpList table {
    width: 100%;
    border-collapse: collapse;
}
#chat #settingsList table tr td, #chat #helpList table tr td {
    padding: 4px 10px;
    vertical-align: middle;
}
#chat #settingsList .setting {
    width: 115px;
}
#chat #settingsList input[type="text"] {
    width: 100px;
}

#chat #chatList, #chat .sidebar, #chat .widebar {
    -webkit-overflow-scrolling: touch;
    -ms-scroll-chaining: none;
    -ms-touch-action: pan-y;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

#chat #chatList iframe {
    vertical-align: top;
    overflow: auto;
}

#chat #chatList .botError,
#chat #chatList .botMessage,
#chat #chatList .botName {
    font-style: italic;
}

#chat .sidebar .top, #chat .widebar .top {
    width: auto;
    padding: 4px 10px;
    word-wrap: break-word;
}

#chat .sidebar div, #chat .widebar div, #chat #chatList div {
    width: auto;
    padding: 2px 10px;
    word-wrap: break-word;
}

.alert {
    position: absolute;
    top: 15px;
    margin: 0 auto;
    z-index: 999;
    left: 0;
    right: 0;
    width: 25%;
    min-width: 300px;
    max-width: 500px;
    text-align: center;
    color: black;
    background-color: white;
    border: 3px double black;
    padding: 15px;
}

#chat #bbCodeContainer input {
    margin: 0 3px 0 0;
}

#chat #optionsContainer img {
    margin: 0 0 0 5px;
    padding: 0;
    width: 22px;
    height: 22px;
}

#chat #optionsContainer img:hover {
    cursor: pointer;
}

#chat #emotes img {
    margin: 0 3px 0 0;
    padding: 0;
}

.chatEmote {
    vertical-align: middle;
}

#chat #emotes img:hover {
    cursor: pointer;
}

#hidden {
    display: none;
	visibility: hidden;
}

