/*
	Sock Chat UI Element Positioning
*/

@charset "utf-8";

html {
	-webkit-text-size-adjust: 100%;
}

body {
	z-index: 0;
}

#chat #chatTitle {
	position: absolute;
	left: 20px;
	top: 5px;
}
#chat #mobileChatTitle {
	position: absolute;
	left: 10px;
	top: 0px;
	display: none;
}
#chat #userData {
	position: absolute;
	left: 20px;
	top: 50px;
}
#chat #channelList {
	position: absolute;
	overflow: auto;
	top: 85px;
	left: 20px;
	width: 200px;
	bottom: 150px;
}
#chat .chatList {
	position: absolute;
	overflow: auto;
	top: 85px;
	bottom: 150px;
}
#chat .channelListHidden {
	left: 20px;
}
#chat .channelListVisible {
	left: 230px;
}
#chat .userListVisible {
	right: 230px;
}
#chat .wideSideVisible {
	right: 390px;
}
#chat .fullWidth {
	right: 20px;
}
#chat .chatList .msgBreak {
	display: none;
}
#chat .sidebar, .widebar {
	position: absolute;
	top: 85px;
	right: 20px;
	bottom: 150px;
	overflow: auto;
}
#chat .sidebar {
	width: 200px;
}
#chat .widebar {
	width: 360px;
	display: none;
}
#chat #settingsList .mSetting {
	display: none;
}
#chat #inputFieldContainer {
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 95px;
	padding-right: 4px;
}
#chat #inputFieldContainer table {
	margin-bottom: 8px;
}
#chat #inputFieldContainer #message {
	width: 100%;
	height: 40px;
}
#chat #submitButtonContainer {
	position: absolute;
	right: 20px;
	bottom: 60px;
}
#chat #bbCodeContainer {
	position: absolute;
	left: 20px;
	bottom: 20px;
	padding: 3px;
}
#chat #emotes {
	position: absolute;
	left: 20px;
	bottom: 57px;
	padding: 3px;
}
#chat #copyright {
	position: absolute;
	right: 20px;
	top: 20px;
}
#chat #chatTitle {
	position: absolute;
	left: 20px;
	top: 5px;
}
#chat #optionsContainer {
	position: absolute;
	right: 20px;
	bottom: 20px;
	padding: 3px 0px 3px 3px;
}
#chat #optionsContainer .mobileOnly {
	display: none;
}

@media screen and (max-width: 800px), (max-device-width: 800px) {
	body {
		z-index: 1;
	}

	#chat #userList, #chat #userData, #chat #bbCodeContainer, #chat #emotes, #chat #copyright, #chat #submitButtonContainer, #chat #chatTitle {
		display: none;
	}

	#chat .userListVisible, #chat .wideSideVisible, #chat .fullWidth {
		right: 10px;
	}

	#chat .sidebar, #chat .widebar, #chat #channelList {
		right: 15px;
		top: 45px;
		bottom: 45px;
	}

	#chat #settingsList .mSetting {
		display: block;
	}

	#chat #optionsContainer .mobileOnly {
		display: inline;
	}
	#chat #optionsContainer .desktopOnly {
		display: none;
	}

	#chat #mobileChatTitle {
		display: block;
	}

	#chat #inputFieldContainer .desktopOnly {
		display: none;
	}

	#chat #optionsContainer {
		right: 10px;
		top: 7px;
		bottom: auto;
	}

	#chat #inputFieldContainer {
		left: 10px;
		right: 10px;
		bottom: 10px;
	}

	#chat #inputFieldContainer table {
		margin-bottom: 0px;
	}

	#chat #inputFieldContainer #message {
		height: 20px;
		padding: 0 2px 0 0;
		margin: 0;
	}

	#chat .chatList {
		top: 40px;
		right: 10px;
		left: 10px;
		bottom: 40px;
		/*font-size: 12px;*/
	}
}

@media screen and (max-width: 500px), (device-width: 500px) {
	#chat .chatList .msgBreak {
		display: inline;
	}
	#chat .chatList .msgColon {
		display: none;
	}
}

@media screen and (max-width: 400px), (device-width: 400px) {
	#chat #mobileChatTitle {
		display: none;
	}

	#chat .widebar {
		left: 15px;
		width: auto;
	}
}

@media screen and (max-width: 235px), (device-width: 235px) {
	#chat .sidebar {
		left: 15px;
		width: auto;
	}
}