/*
	Black Sock Chat Style
	By Flashwave <http://flash.moe> and MallocNull <http://aroltd.com>
*/

@charset "utf-8";
@import url("_global.css");

body {
    background: #000000;
    color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .8em;
}

#chat a, #chat a:visited {
    color: #FFFFFF;
}

#chat #chatList a, #chat #chatList a:visited {
    color: #1E90FF;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#chat #chatTitle, #chat #mobileChatTitle {
    font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
}

#chat #chatTitle, #chat #mobileChatTitle {
    font-size: 1.3em;
    font-weight: bold;
	margin-left: auto;
	margin-top: 12px;
}

#chat #userData select {
    min-width: 105px;
    height: 22px;
}

#chat select {
    color: #FFFFFF;
    background-color: #000000;
    border: 1px solid #808080;
}

#chat #chatList {
    border: 1px solid #808080;
}

#chat #chatList .botName {
    color: #C0C0C0;
}

#chat #chatList .botError {
    color: #F00;
}

.rowEven, #chat .sidebar .top, #chat .widebar .top, #chat #channelList .top {
    background: #212121;
}

.rowOdd {
    background: #000;
}

.date {
    font-size: .7em;
}

#chat .sidebar, #chat .widebar, #chat #channelList {
    border: 1px solid #808080;
    background: #000000;
}

#chat .sidebar .top, #chat .widebar .top, #chat #channelList .top {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
}

#chat .sidebar div, #chat .widebar div {
    font-size: .9em;
}

.alert input[type="password"], .alert input[type="text"], #chat textarea, #chat #inputFieldContainer input[type="text"] {
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #808080;
}

.alert input[type="password"], .alert input[type="text"] {
	padding: 5px 2px;
}

#chat input[type="button"], #chat input[type="submit"] {
    cursor: pointer;
    padding: 4px 10px;
    background: linear-gradient(180deg, #222, #000) #000;
    color: #F0F0F0;
    border: 1px solid #808080;
}

#chat #copyright {
	font-size: .8em;
}
