@import url("_global.css");

body {
    background: #002545;
    color: white;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

#chat #header a, #chat #header a:visited {
    color: white;
}

#chat #messageDiv #chatList a, #chat #messageDiv #chatList a:visited {
    color: #1E90FF;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#chat #header div {
    font-family: "Trebuchet MS",Verdana,Arial,sans-serif;
}

#chat #header #chatTitle {
    font-size: 1.1em;
    font-weight: bold;
}

#chat #header #therearefourfundamentalfreedomseveryuserofsoftwaremusthave {
    font-size: 0.8em;
}

#chat #header #userData select {
    width: 105px;
    height: 22px;
    color: white;
    background-color: #002545;
    border: 1px solid #808080;
}

#chat #messageDiv #chatList {
    border: 1px solid #003D8E;
}

#chat #messageDiv #chatList .botName {
    color: #C0C0C0;
}

#chat #messageDiv #chatList .botError {
    color: #F00;
}

.rowEven {
    background: #0d355d;
}

.rowOdd {
    background: #002545;
}

.date {
    font-size: 0.7em;
}

#chat #userDiv #userList {
    border: 1px solid #003D8E;
}

#chat #userDiv #userList #top {
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
}

#chat #userDiv #userList div, #chat #messageDiv #chatList div {
    font-size: 0.8em;
}

#chat #footer textarea {
    color: white;
    background: #002545;
    border: 1px solid #003D8E;
}

.btn {
    cursor: pointer;
    padding: 4px 10px;
    background: linear-gradient(to bottom, #002545, #000) #002545;
    color: #F0F0F0;
    border: 1px solid #808080;
}