@import url("_global.css");

body {
    font-family: Segoe ui;
    font-size: 1.1em;
    background-color: #44496c !important;
    background-image: url("http://puu.sh/ai2PH/1482b01137.png") !important;
    color: #808080;

#chat #header a, #chat #header a:visited {
    color: white;
}

#chat #messageDiv #chatList a, #chat #messageDiv #chatList a:visited {
    color: #1E90FF;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#chat #header div {
    font-family: Segoe ui;
}

#chat #header #chatTitle {
    font-size: 1.1em;
    font-weight: bold;
}

#chat #header #therearefourfundamentalfreedomseveryuserofsoftwaremusthave {
    font-size: 0.8em;
}

#chat #header #userData select {
    width: 105px;
    height: 22px;

    color: #3f3f3f;
    background-color: black;
}



#chat #messageDiv #chatList .botName {
    color: #C0C0C0;
}

#chat #messageDiv #chatList .botError {
    color: #F00;
}

.rowEven {
    background:transparent;
}

.rowOdd {
    background: transparent;
}

.date {
    font-size: 0.7em;
}

#chat #userDiv #userList {
    border: 1px solid #808080;
}

#chat #userDiv #userList #top {
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
}

#chat #userDiv #userList div, #chat #messageDiv #chatList div {
    font-size: 0.8em;
}

#chat #footer textarea {
    color: #3f3f3f;
    background: #3f3f3f;
}

.btn {
    cursor: pointer;
    padding: 4px 10px;
    background: #3f3f3f;
    color: #3f3f3f;
}