/*
	Sulfur Sock Chat Style
	By Flashwave <http://flash.moe>
	
	Color palette inspired by PunBB style "Sulfur":
	http://punbb.org/
*/

@charset "utf-8";
@import url("_global.css");

body {
    background: #F1F1F1;
    color: #333333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .8em;
}

#chat a, #chat a:visited {
    color: #B84623;
}

#chat .chatList a, #chat .chatList a:visited {
    color: #B84623;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#chat #chatTitle, #chat #mobileChatTitle {
    font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
}

#chat #chatTitle, #chat #mobileChatTitle {
    font-size: 1.3em;
    font-weight: bold;
	margin-left: auto;
	margin-top: 12px;
}

#chat #userData select {
    min-width: 105px;
    height: 22px;
}

#chat select {
    border: 1px solid #B84623;
}

#chat .chatList {
    border: 1px solid #B84623;
}

#chat .chatList .botName {
    color: #B84623;
}

#chat .chatList .botError {
    color: #F00;
}

.rowEven, #chat .sidebar .top, #chat .widebar .top, #chat #channelList .top {
    background: #F1F1F1;
}

.rowOdd {
    background: #DEDFDF;
}

.date {
    font-size: .7em;
}

#chat .sidebar, #chat .widebar, #chat #channelList {
    background: #F1F1F1;
    border: 1px solid #B84623;
}

#chat .sidebar .top, #chat .widebar .top, #chat #channelList .top {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
	background: #B84623;
	color: #FFFFFF;
}

#chat .sidebar div, #chat .widebar div {
    font-size: .9em;
}

.alert input[type="password"], .alert input[type="text"], #chat textarea, #chat #inputFieldContainer input[type="text"] {
    border: 1px solid #B84623;
}

.alert input[type="password"], .alert input[type="text"] {
	padding: 5px 2px;
}

#chat input[type="button"], #chat input[type="submit"] {
    cursor: pointer;
    padding: 4px 10px;
    background: #B84623;
    color: #FFF;
	border: 1px solid #B84623;
}

#chat #copyright {
	font-size: .8em;
}
