@import url("_global.css");

body {
    background: white;
    color: black;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

#chat #header a, #chat #header a:visited {
    color: black;
}

#chat #messageDiv #chatList a, #chat #messageDiv #chatList a:visited {
    color: #0F497F;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#chat #header div {
    font-family: "Trebuchet MS",Verdana,Arial,sans-serif;
}

#chat #header #chatTitle {
    font-size: 1.1em;
    font-weight: bold;
}

#chat #header #therearefourfundamentalfreedomseveryuserofsoftwaremusthave {
    font-size: 0.8em;
}

#chat #header #userData select {
    width: 105px;
    height: 22px;

    color: black;
    background-color: white;
    border: 1px solid #808080;
}

#chat #messageDiv #chatList {
    border: 1px solid #808080;
}

#chat #messageDiv #chatList .botError {
    color: #A00;
}

.rowEven {
    background: #DEDEDE;
}

.rowOdd {
    background: #FFF;
}

.date {
    font-size: 0.7em;
}

#chat #userDiv #userList {
    border: 1px solid #808080;
}

#chat #userDiv #userList #top {
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
}

#chat #userDiv #userList div, #chat #messageDiv #chatList div {
    font-size: 0.8em;
}

#chat #footer textarea {
    color: black;
    background: white;
    border: 1px solid #808080;
}

.btn {
    cursor: pointer;
    padding: 4px 10px;
    background: linear-gradient(to bottom, #DDD, #FFF) #FFF;
    color: #0F0F0F;
    border: 1px solid #808080;
}